body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: white;
    text-align: center;
    width: 500px;
}

p {
    font-size: 15px;
}

th, td {
    border: 1px solid black;
    width: 100px;
    height: 50px;
}


tr:hover {
    background-color: red;
}